@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import './fonts.css';
:root {
  --foreground-rgb: 1, 1, 1;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
div {
  box-sizing: border-box;
}
body {
  color: #000;
  background: #fff;
}
h2 {
  font-family: 'Amita', sans-serif !important;
}
.landingFixedBg {
  background-image: url("../../public/assets/landing/fixedBg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.activeLink {
  background-color: #FF9F47;
}
.link {
  padding: 4px 7px;
  font-weight: 400;
  border-radius: 16px;
}

.tourItem {
  padding: 0px;
}
.tourItem  h4 {
  margin-top: 16px;
}
.tourItem a {
  text-decoration: none !important;
}
.tourItem .text {
  color: #10221B;
}
.tourItem .bottomBox {
  position: relative;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px dashed #CFCFCF;
}
.tourItem .moreLink a {
  color: #10221B;
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}
.tourItem .innerBox {
  position: relative;
  display: block;
  background: #ffffff;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
}
.tourItem .innerBox h4 {
  position: relative;
  font-weight: 700;
  color: #10221B;
  margin-bottom: 0px;
}
.tourItem .innerBox h4 a {
  color: #10221B;
  text-decoration: none;
}

.tourItem .price {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}
.tourItem .image {
  height: 200px;
  position: relative;
  background: #101010;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s ease-in;
  opacity: 0.9;
}
.tourItem .image img {
  transition: 0.3s ease-in;
  height: 100%;
}

.tourItem .lowerContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tourItem:hover  .innerBox .image {
  opacity: 1;
}
.tourItem:hover .innerBox .image img {
  transform: scale(1.1);
}
.mobile-menu-btn {
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 11;
}

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  position: relative;
  z-index: 100;
}

.mobile-links a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.close-btn {
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.mobile-language-switcher {
  margin-top: auto;
  padding: 20px;
}
