@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import './fonts.css';
:root {
  --foreground-rgb: 1, 1, 1;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
div {
  box-sizing: border-box;
}
body {
  color: #000;
  background: #fff;
}
h2 {
  font-family: 'Amita', sans-serif !important;
}
.landingFixedBg {
  background-image: url("../../public/assets/landing/fixedBg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.activeLink {
  background-color: #FF9F47;
}
.link {
  padding: 6px 12px;
  font-weight: 400;
  border-radius: 16px;
}